<h1>Job applications </h1>

<%= form_with(model: @job_app, url:applicants_job_applications_path) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br />
<%= f.label :job_id %>
<%= f.text_field :job_id %>
<br />
<%= f.label :email %>
<%= f.text_field :email %>
<br />

<%= f.label :Ruby %>
<%= f.check_box :Ruby %>

<%= f.label :Python %>
<%= f.check_box :Python %>

<%= f.label :"C++" %>
<%= f.check_box :"C++" %>

<%= f.label :Java %>
<%= f.check_box :Java %>

<%= f.label :React %>
<%= f.check_box :React %>

<%= f.label :C55 %>
<%= f.check_box :C55 %>

<%= f.label :Mangento %>
<%= f.check_box :Mangento %>

<%= f.label :SQL %>
<%= f.check_box :SQL %>
<br />

<%= f.label :"C#" %>
<%= f.check_box :"C#" %>

<%= f.label :Swift %>
<%= f.check_box :Swift %>

<%= f.label :Objective_C %>
<%= f.check_box :Objective_C %>

<%= f.label :Javascript %>
<%= f.check_box :Javascript %>

<%= f.label :CSS %>
<%= f.check_box :CSS %>

<%= f.label :HTML %>
<%= f.check_box :HTML %>

<%= f.submit "Submit"%>
<% end %>