
<div class="container-login">
    <div class="wrap-login post-page">
        <h1 class=subtitles-login-page>Apply To This Job</h1>

    <%= form_with(model: @job_app, url:applicants_job_applications_path, class: "subheading-subtitles-posting") do |f| %>
    <%= f.label :name %><%= f.text_field :name, class: "form-control" %>
    <br />
    <%= f.label :job_id %>
    <%= f.text_field :job_id, class: "form-control" %>
    <br />
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
    <br />

<div class="skills-checkboxes">
<h2 class="smallsubtitle">Choose Skill(S) You Have</h2>
        <% Skill.all.each do |skill|%>
        <%= check_box_tag "#{skill["name"]}", "yes" %>
        <%= label_tag "#{skill["name"]}" %>
        <% end %>
        </div>

<div class="container-login100-form-btn">
  <div class="wrap-login100-form-btn">
  <div class="login100-form-bgbtn"></div>
  <button class="login100-form-btn">
      <%= f.submit "Submit", class: 'login100-form-btn' %>
          </button>
  </div>
  </div>

</div>
</div>
</div>
<% end %>