<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<hr>
<a href="/jobs" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">JOBS POSTED</a>
<a href="#" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">VIEW APPLICANTS</a>
<a href="/jobs/new" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">+POST ANOTHER JOB</a>




<% if @jobs.exists? %>
  <div class="bg-white rounded shadow table-responsive"  style="width: 90vw;">
    <table class="table">
      <thead>
        <tr>
          <th class="p-3 uppercase text-left text-xs text-gray-700">ID</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700">position</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700">description</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700">date</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700">Longitude</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700">Latitude</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700">User</th>
          <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
            <td class="p-3"><%= job.id %></td>
            <td class="p-3"><%= job.position %></td>
            <td class="p-3"><%= job.description %></td>
            <td class="p-3"><%= job.created_at %></td>
            <td class="p-3"><%= job.longitude %></td>
            <td class="p-3"><%= job.latitude %></td>
            <td class="p-3"><%= job.user.email %></td>
            <td>
              <%= link_to "View", job, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
