<div class="container-login">
<div class="wrap-login">
<h1 class=subtitles-login-page>Post a Job Listing</h1>

<%= form_with(model: @job, url:jobs_path) do |f| %>
      <%= f.label :description %>
      <%= f.text_field :description, class: "description" %>
      <%= f.label :position %>
      <%= f.text_field :position, class: "position" %>
      <%= f.label :longitude, class: "longitude" %>
      <%= f.number_field :longitude, step: :any %>
      <%= f.label :latitude, class: "latitude" %>
      <%= f.number_field :latitude, step: :any %>
      <%= f.label :latitude, class: "latitude" %>
      <%= f.number_field :latitude, step: :any %>

   <div class="skills-checkboxes">
   <% @skills.each do |skill|%> 
     <%= check_box_tag "#{skill["name"]}", "yes" %>
     <%= label_tag "#{skill["name"]}" %>
   <% end %>
   </div>

      
   <a href="/jobs/" class="btn btn-md u-btn-primary g-mr-10 g-mb-15"> <%= f.submit "Submit", class: "btn btn-primary" %> </a>
<% end %>
<hr>