<!-- Navigation -->
<nav className="nav-bar-homepage">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Insert Logo</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Find Jobs</a>
            <a class="p-2 text-dark" href="#">Post a Job</a>
            <% if current_user %>
                <a class="btn btn-primary" href=<%="#{destroy_user_session_path	}"%>>Sign out</a>
            <% else %>
                <a class="btn btn-outline-primary" href=<%="#{new_user_session_path}"%>>Log In</a>
                <a class="btn btn-primary" href=<%="#{new_user_registration_path}"%>>Sign up</a>
            <% end %>
        </nav>
    </div>
</nav> 

<!-- Header -->
<header className="top-banner-homepage">
    <h1 class="title-homepage">Get Hired. Start Coding</h1> 
    <%= form_with(url: "/search", method: "post") do %>
    <%= label_tag(:q, "") %> 
    <%= text_field_tag(:q, "") %> 
    <%= submit_tag("SEARCH JOBS") %>
    <% end %>
</header>

<!-- Skills Cards -->
<section className="companyinfo-homepage">
    <h2 class="subtitles-homepage">Explore By Skill</h2> 
    <p class="test">Red</p>
    <h3 class="subsheading-subtitles-homepage">Narrow the search down by what you are good at.<br>Or learn what's in demand.</h3> 
</section>

<!-- Company Info -->
<section className="companyinfo-homepage">
    <h2 class="subtitles-homepage">Over 1000+ Jobs Posted</h2> 
    <h3 class="subsheading-subtitles-homepage">Insert one sentence blurb about how amazing our founders are wow</h3> 
    <p class="subsheading-subtitles-homepage">Insert paragraph about company Insert paragraph about company Insert paragraph about company</p> 
</section>

<!-- Testimonials -->
<section className="testimonials-homepage">
    <h2 class="subtitles-homepage">They believe in us. We believe in them.</h2> 
</section>
  
<!-- Footer -->
<%= react_component "Footer" %>

<%= stylesheet_link_tag 'home' %>  

