

 <div className="nav-bar-homepage">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Insert Logo</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Find Jobs</a>
        <a class="p-2 text-dark" href="#">Post a Job</a>
        <a class="btn btn-outline-primary" href="#">Log In</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
</div> 

<div className="top-banner-homepage">
    <h1 class="title-homepage">Get Hired. Start Coding</h1> 
    <%= form_with(url: "#", method: "get") do %>
    <%= label_tag(:q, "") %> 
    <%= text_field_tag(:q) %>
    <%= submit_tag("SEARCH JOBS") %>
    <% end %>

</div>

<div className="companyinfo-homepage">
    <h2 class="subtitles-homepage">Explore By Skill</h2> 
    <h3 class="subsheading-subtitles-homepage">Narrow the search down by what you are good at.<br>Or learn what's in demand.</h3> 
</div>


<div className="companyinfo-homepage">
    <h2 class="subtitles-homepage">Over 1000+ Jobs Posted</h2> 
    <h3 class="subsheading-subtitles-homepage">Insert one sentence blurb about how amazing our founders are wow</h3> 
    <p class="subsheading-subtitles-homepage">Insert paragraph about company Insert paragraph about company Insert paragraph about company</p> 
</div>

<div className="testimonials-homepage">
    <h2 class="subtitles-homepage">They believe in us. We believe in them.</h2> 
    <!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Testimonials v.1</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
    eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">John Doe</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet eos
            adipisci, consectetur adipisicing elit.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Anna Aston</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Neque cupiditate assumenda in
            maiores repudiandae mollitia architecto.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Maria Kate</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Delectus impedit saepe officiis
            ab aliquam repellat rem unde ducimus.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Testimonials v.1 -->
</div>

<%= stylesheet_link_tag 'home' %>  
<%= react_component "Footer" %>
