<%= render 'pages/modal' %>

<div class='top-section'>
    <%= react_component "NavigationHome", { isSignedIn: current_user } %>
    <%# render partial: '/layouts/nav'%>

<!-- Header -->
<header class="top-banner-homepage">
    <h1 class="title-homepage">Get Hired. Start Coding</h1>
    <div class="search-bar">
        <%= form_with(url: "/search", method: "post") do %>
        <%= label_tag(:q, "") %>
        <%= text_field_tag(:q, "", class: "form_input", placeholder: "Set a Location") %>
        <%= submit_tag("SEARCH JOBS") %>
        <% end %>

        <%= form_with(url: "/search?q=GET_ALL", method: "post") do %>
        <%= label_tag(:q, "") %>
        <%= submit_tag("SEARCH ALL JOBS", data: 'GET_ALL') %>
        <% end %>
        
    </div>     
    <div class="search-item">
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ All</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ React</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Java</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Javascript</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C++</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C55</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Magento</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ SQL</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Python</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C Sharp</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Swift</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C+</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Python</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Objective C</a>
    </div>
</header>

<!-- Skills Cards -->
<section class="companyinfo-homepage">
    <h2 class="subtitles-homepage">Explore By Skill</h2>
    <h3 class="subsheading-subtitles-homepage">Narrow the search down by what you are good at.<br>Or learn whats in demand.</h3>

        <div class="centered">
            <section class="cards">
                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ruby</h5>
                        <p class="card-text">Ruby is an open-sourced, object-oriented scripting language that can be used independently or with Ruby on Rails web framework.</p>
                        <a href="https://www.ruby-lang.org/en/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <p class="card-text">JavaScript is a client-side programming language that runs inside a client browser rather than a server.</p>
                        <a href="https://www.javascript.com/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">React</h5>
                        <p class="card-text">React is a declarative, efficient, and flexible JavaScript library for building user interfaces.</p>
                        <a href="https://reactjs.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Swift</h5>
                        <p class="card-text">Swift is Apple’s newest open-source, multi-paradigm programming language for iOS and OS X apps.</p>
                        <a href="https://www.swift.com/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                        <p class="card-text">Java is a general-purpose, object-oriented, high-level programming language ideal for web-based development.</p>
                        <a href="https://www.java.com/en/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SQL</h5>
                        <p class="card-text">SQL is a database query language that allows for adding, accessing and managing content in a database.</p>
                        <a href="https://en.wikipedia.org/wiki/SQL" class="card-link">More Info</a>
                    </div>
                </article>

                            <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">PHP</h5>
                        <p class="card-text">PHP is an open-source scripting language designed for creating dynamic web pages that effectively work with databases.</p>
                        <a href="https://www.php.net/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">C Sharp</h5>
                        <p class="card-text">C# is a multi-paradigm language with strong functional, generic, object-oriented & component-oriented disciplines.</p>
                        <a href="https://www.w3schools.com/cs/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Magento</h5>
                        <p class="card-text">Magento is an open-source e-commerce platform written in PHP (flexible shopping cart system, control over the look, content and functionality).</p>
                        <a href="https://magento.com/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">C++</h5>
                        <p class="card-text">C++ is a general purpose, object-oriented, middle-level programming language and is an extension of C language, can code C++ in a “C style”.</p>
                        <a href="https://isocpp.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Objective C</h5>
                        <p class="card-text">Objective-C is a general-purpose & object-oriented language. It uses a system of message passing borrowed from the language Smalltalk.</p>
                        <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Styling</h5>
                        <p class="card-text">Programming style is a set of rules or guidelines used when writing the source code for a computer program.</p>
                        <a href="#" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Python</h5>
                        <p class="card-text">Python is an object-oriented programming language with integrated dynamic semantics primarily for web and app development.</p>
                        <a href="https://www.python.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">C</h5>
                        <p class="card-text">C Language is a structure-oriented, middle-level programming language mostly used to develop low-level applications.</p>
                        <a href="https://www.learn-c.org/" class="card-link">More Info</a>
                    </div>
                </article>
            </section>
        </div>
</section>

<!-- Company Info -->
    <section class="about-homepage">
    <div class="row">
        <div class="col-sm-6 xs-col-12">
            <h2 class="subtitles-homepage">Over 1000+ Companies job posted</h2>
            <h3 class="subsheading-subtitles-homepage">Insert one sentence blurb about how amazing our founders are wow</h3>
            <p>Insert paragraph about company Insert paragraph about company Insert paragraph about company</p>
        </div>
        <div class="col-sm-6 xs-col-12">
            <img src="assets/img1.png" width="95%" height="85%"/>
        </div>
    </div>
    </section>

<!-- Testimonials -->
    <section class="testimonials-homepage">
        <h2 class="subtitles-homepage">They believe in us. We believe in them.</h2>
        <%= react_component "HomeTestimonials" %>
    </section>

 <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div class="container">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" id="footer-content">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Categories</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">Skills</a>
          </li>
          <li>
            <a href="#!" class="footer-ct-color">Backend Developer</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Help And Advice</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">Helping Center</a>
          </li>
          <li>
            <a href="#!" class="footer-ct-color">Customer Support</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">About Us</a>
          </li>
          <li>
            <a href="#!" class="footer-ct-color">Job Interview</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Get In Touch</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">Wyncode AcademyConsequat <br/>Miami, FL</a>
          </li>
          <li>
            <a href="#!" class="footer-hd-color">info@SoftSearch.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</div>


</footer>
<!-- Footer -->

<%= stylesheet_link_tag 'home' %>
