<%= render 'pages/modal' %>

<div class='top-section'>
    <%= react_component "NavigationHome", { isSignedIn: current_user } %>
    <%# render partial: '/layouts/nav'%>

<!-- Header -->
<header class="top-banner-homepage">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <h1 class="title-homepage">Get Hired. Start Coding</h1>
    <div class="search-bar">
        <%= form_with(url: "/search", method: "post") do %>
        <%= label_tag(:q, "") %>
        <%= text_field_tag(:q, "", class: "form_input", placeholder: "Set a Location") %>
        <%= submit_tag("SEARCH JOBS") %>
        <% end %>

        <%= form_with(url: "/search?q=GET_ALL", method: "post") do %>
        <%= label_tag(:q, "") %>
        <%= submit_tag("SEARCH ALL JOBS", data: 'GET_ALL') %>
        <% end %>
        
    </div>     
    <div class="search-item">
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ All</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ React</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Java</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Javascript</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C++</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Styling</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Magento</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ SQL</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Python</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C Sharp</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Swift</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ C+</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Python</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ Objective C</a>
        <a href="#" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">+ MongoDb</a>
    </div>
</header>

<!-- Skills Cards -->
<section class="companyinfo-homepage">
    <h2 class="subtitles-homepage">Explore By Skill</h2>
    <h3 class="subsheading-subtitles-homepage">Narrow the search down by what you are good at.<br>Or learn whats in demand.</h3>

        <div class="centered">
            <section class="cards">
                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                    <svg class="card-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="157.08" y1="2382.05" x2="131.682" y2="2426.892" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#FB7655"/><stop offset="0" stop-color="#FB7655"/><stop offset=".41" stop-color="#E42B1E"/><stop offset=".99" stop-color="#900"/><stop offset="1" stop-color="#900"/></linearGradient><path fill="url(#a)" d="M97.078 83.214l-68.738 40.817 89.003-6.04 6.855-89.745z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="169.731" y1="2419.72" x2="136.998" y2="2441.685" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#871101"/><stop offset="0" stop-color="#871101"/><stop offset=".99" stop-color="#911209"/><stop offset="1" stop-color="#911209"/></linearGradient><path fill="url(#b)" d="M117.488 117.93l-7.649-52.799-20.837 27.514z"/><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="143.542" y1="2380.69" x2="110.81" y2="2402.655" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#871101"/><stop offset="0" stop-color="#871101"/><stop offset=".99" stop-color="#911209"/><stop offset="1" stop-color="#911209"/></linearGradient><path fill="url(#c)" d="M117.592 117.93l-56.044-4.399-32.91 10.385z"/><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="74.817" y1="2435.622" x2="79.891" y2="2402.644" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#fff"/><stop offset="0" stop-color="#fff"/><stop offset=".23" stop-color="#E57252"/><stop offset=".46" stop-color="#DE3B20"/><stop offset=".99" stop-color="#A60003"/><stop offset="1" stop-color="#A60003"/></linearGradient><path fill="url(#d)" d="M28.717 123.928l14.001-45.867-30.81 6.588z"/><linearGradient id="e" gradientUnits="userSpaceOnUse" x1="109.719" y1="2466.413" x2="111.589" y2="2432.757" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#fff"/><stop offset="0" stop-color="#fff"/><stop offset=".23" stop-color="#E4714E"/><stop offset=".56" stop-color="#BE1A0D"/><stop offset=".99" stop-color="#A80D00"/><stop offset="1" stop-color="#A80D00"/></linearGradient><path fill="url(#e)" d="M88.996 92.797l-12.882-50.46-36.866 34.558z"/><linearGradient id="f" gradientUnits="userSpaceOnUse" x1="140.691" y1="2497.523" x2="146.289" y2="2473.401" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#fff"/><stop offset="0" stop-color="#fff"/><stop offset=".18" stop-color="#E46342"/><stop offset=".4" stop-color="#C82410"/><stop offset=".99" stop-color="#A80D00"/><stop offset="1" stop-color="#A80D00"/></linearGradient><path fill="url(#f)" d="M121.275 43.047l-34.849-28.462-9.704 31.373z"/><linearGradient id="g" gradientUnits="userSpaceOnUse" x1="123.6" y1="2506.018" x2="147.719" y2="2518.077" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#fff"/><stop offset="0" stop-color="#fff"/><stop offset=".54" stop-color="#C81F11"/><stop offset=".99" stop-color="#BF0905"/><stop offset="1" stop-color="#BF0905"/></linearGradient><path fill="url(#g)" d="M104.978 4.437l-20.497 11.327-12.93-11.479z"/><linearGradient id="h" gradientUnits="userSpaceOnUse" x1="53.674" y1="2444.028" x2="55.66" y2="2424.153" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#fff"/><stop offset="0" stop-color="#fff"/><stop offset=".31" stop-color="#DE4024"/><stop offset=".99" stop-color="#BF190B"/><stop offset="1" stop-color="#BF190B"/></linearGradient><path fill="url(#h)" d="M3.802 100.034l8.586-15.659-6.946-18.655z"/><path fill="#fff" d="M4.981 65.131l6.987 19.821 30.365-6.812 34.667-32.218 9.783-31.075-15.403-10.878-26.19 9.802c-8.252 7.675-24.263 22.86-24.84 23.146-.573.291-10.575 19.195-15.369 28.214z"/><linearGradient id="i" gradientUnits="userSpaceOnUse" x1="40.026" y1="2418.781" x2="133.345" y2="2514.739" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#BD0012"/><stop offset="0" stop-color="#BD0012"/><stop offset=".07" stop-color="#fff"/><stop offset=".17" stop-color="#fff"/><stop offset=".27" stop-color="#C82F1C"/><stop offset=".33" stop-color="#820C01"/><stop offset=".46" stop-color="#A31601"/><stop offset=".72" stop-color="#B31301"/><stop offset=".99" stop-color="#E82609"/><stop offset="1" stop-color="#E82609"/></linearGradient><path fill="url(#i)" d="M29.519 29.521c17.882-17.73 40.937-28.207 49.785-19.28 8.843 8.926-.534 30.62-18.418 48.345-17.884 17.725-40.653 28.779-49.493 19.852-8.849-8.92.242-31.191 18.126-48.917z"/><linearGradient id="j" gradientUnits="userSpaceOnUse" x1="111.507" y1="2409.102" x2="83.398" y2="2416.039" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#8C0C01"/><stop offset="0" stop-color="#8C0C01"/><stop offset=".54" stop-color="#990C00"/><stop offset=".99" stop-color="#A80D0E"/><stop offset="1" stop-color="#A80D0E"/></linearGradient><path fill="url(#j)" d="M28.717 123.909l13.89-46.012 46.135 14.82c-16.68 15.642-35.233 28.865-60.025 31.192z"/><linearGradient id="k" gradientUnits="userSpaceOnUse" x1="159.785" y1="2442.837" x2="134.814" y2="2465.217" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#7E110B"/><stop offset="0" stop-color="#7E110B"/><stop offset=".99" stop-color="#9E0C00"/><stop offset="1" stop-color="#9E0C00"/></linearGradient><path fill="url(#k)" d="M77.062 45.831l11.844 46.911c13.934-14.65 26.439-30.401 32.563-49.883l-44.407 2.972z"/><linearGradient id="l" gradientUnits="userSpaceOnUse" x1="168.959" y1="2483.901" x2="156.521" y2="2497.199" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#79130D"/><stop offset="0" stop-color="#79130D"/><stop offset=".99" stop-color="#9E120B"/><stop offset="1" stop-color="#9E120B"/></linearGradient><path fill="url(#l)" d="M121.348 43.097c4.74-14.305 5.833-34.825-16.517-38.635l-18.339 10.13 34.856 28.505z"/><path fill="#9E1209" d="M3.802 99.828c.656 23.608 17.689 23.959 24.945 24.167l-16.759-39.14-8.186 14.973z"/><radialGradient id="m" cx="138.703" cy="2464.789" r="30.601" gradientTransform="matrix(1 0 0 -1 -47.5 2517)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#A80D00"/><stop offset="0" stop-color="#A80D00"/><stop offset=".99" stop-color="#7E0E08"/><stop offset="1" stop-color="#7E0E08"/></radialGradient><path fill="url(#m)" d="M77.128 45.904c10.708 6.581 32.286 19.798 32.723 20.041.68.383 9.304-14.542 11.261-22.976l-43.984 2.935z"/><radialGradient id="n" cx="96.325" cy="2424.465" r="40.679" gradientTransform="matrix(1 0 0 -1 -47.5 2517)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#A30C00"/><stop offset="0" stop-color="#A30C00"/><stop offset=".99" stop-color="#800E08"/><stop offset="1" stop-color="#800E08"/></radialGradient><path fill="url(#n)" d="M42.589 77.897l18.57 35.828c10.98-5.955 19.579-13.211 27.454-20.983l-46.024-14.845z"/><linearGradient id="o" gradientUnits="userSpaceOnUse" x1="67.509" y1="2393.115" x2="57.373" y2="2427.506" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#8B2114"/><stop offset="0" stop-color="#8B2114"/><stop offset=".43" stop-color="#9E100A"/><stop offset=".99" stop-color="#B3100C"/><stop offset="1" stop-color="#B3100C"/></linearGradient><path fill="url(#o)" d="M11.914 84.904l-2.631 31.331c4.964 6.781 11.794 7.371 18.96 6.842-5.184-12.9-15.538-38.696-16.329-38.173z"/><linearGradient id="p" gradientUnits="userSpaceOnUse" x1="145.272" y1="2507.076" x2="167.996" y2="2497.045" gradientTransform="matrix(1 0 0 -1 -47.5 2517)"><stop offset="0" stop-color="#B31000"/><stop offset="0" stop-color="#B31000"/><stop offset=".44" stop-color="#910F08"/><stop offset=".99" stop-color="#791C12"/><stop offset="1" stop-color="#791C12"/></linearGradient><path fill="url(#p)" d="M86.384 14.67l36.891 5.177c-1.969-8.343-8.015-13.727-18.32-15.41l-18.571 10.233z"/></svg>
                        <h5 class="card-title">Ruby</h5>
                        <p class="card-text">Ruby is an open-sourced, object-oriented scripting language that can be used independently or with Ruby on Rails web framework.</p>
                        <a href="https://www.ruby-lang.org/en/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <p class="card-text">JavaScript is a client-side programming language that runs inside a client browser rather than a server.</p>
                        <a href="https://www.javascript.com/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">React</h5>
                        <p class="card-text">React is a declarative, efficient, and flexible JavaScript library for building user interfaces.</p>
                        <a href="https://reactjs.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Swift</h5>
                        <p class="card-text">Swift is Apple’s newest open-source, multi-paradigm programming language for iOS and OS X apps.</p>
                        <a href="https://www.swift.com/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                        <p class="card-text">Java is a general-purpose, object-oriented, high-level programming language ideal for web-based development.</p>
                        <a href="https://www.java.com/en/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SQL</h5>
                        <p class="card-text">SQL is a database query language that allows for adding, accessing and managing content in a database.</p>
                        <a href="https://en.wikipedia.org/wiki/SQL" class="card-link">More Info</a>
                    </div>
                </article>

                            <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">PHP</h5>
                        <p class="card-text">PHP is an open-source scripting language designed for creating dynamic web pages that effectively work with databases.</p>
                        <a href="https://www.php.net/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">C Sharp</h5>
                        <p class="card-text">C# is a multi-paradigm language with strong functional, generic, object-oriented & component-oriented disciplines.</p>
                        <a href="https://www.w3schools.com/cs/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Magento</h5>
                        <p class="card-text">Magento is an open-source e-commerce platform written in PHP (flexible shopping cart system, control over the look, content and functionality).</p>
                        <a href="https://magento.com/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">C++</h5>
                        <p class="card-text">C++ is a general purpose, object-oriented, middle-level programming language and is an extension of C language, can code C++ in a “C style”.</p>
                        <a href="https://isocpp.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Objective C</h5>
                        <p class="card-text">Objective-C is a general-purpose & object-oriented language. It uses a system of message passing borrowed from the language Smalltalk.</p>
                        <a href="https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Styling</h5>
                        <p class="card-text">Programming style is a set of rules or guidelines used when writing the source code for a computer program.</p>
                        <a href="#" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Python</h5>
                        <p class="card-text">Python is an object-oriented programming language with integrated dynamic semantics primarily for web and app development.</p>
                        <a href="https://www.python.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">C</h5>
                        <p class="card-text">C Language is a structure-oriented, middle-level programming language mostly used to develop low-level applications.</p>
                        <a href="https://www.learn-c.org/" class="card-link">More Info</a>
                    </div>
                </article>

                <article class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">MongoDb</h5>
                        <p class="card-text">MongoDB is a cross-platform document-oriented database program. MongoDB uses JSON-like documents with schema.</p>
                        <a href="https://www.mongodb.com/cloud/atlas/lp/try1?utm_source=google&utm_campaign=gs_americas_united%20states_search_brand_atlas_desktop&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&gclid=CjwKCAjwsMzzBRACEiwAx4lLG9kjcTuoDd5oaevlr5j64UzSmSBq7kRxS_J9rdlMpxVyKLt10iR93hoCO8AQAvD_BwE" class="card-link">More Info</a>
                    </div>
                </article>
            </section>
        </div>
</section>

<!-- Company Info -->
    <section class="about-homepage">
    <div class="row">
        <div class="col-sm-6 xs-col-12">
            <h2 class="subtitles-homepage">Over 1000+ Companies job posted</h2>
            <h3 class="subsheading-subtitles-homepage">Insert one sentence blurb about how amazing our founders are wow</h3>
            <p>Insert paragraph about company Insert paragraph about company Insert paragraph about company</p>
        </div>
        <div class="col-sm-6 xs-col-12">
            <img src="assets/img1.png" width="95%" height="85%"/>
        </div>
    </div>
    </section>

<!-- Testimonials -->
    <section class="testimonials-homepage">
        <h2 class="subtitles-homepage">They believe in us. We believe in them.</h2>
        <%= react_component "HomeTestimonials" %>
    </section>

 <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div class="container">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" id="footer-content">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Categories</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">Skills</a>
          </li>
          <li>
            <a href="#!" class="footer-ct-color">Backend Developer</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Help And Advice</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">Helping Center</a>
          </li>
          <li>
            <a href="#!" class="footer-ct-color">Customer Support</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">About Us</a>
          </li>
          <li>
            <a href="#!" class="footer-ct-color">Job Interview</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="footer-hd-color">Get In Touch</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-ct-color">Wyncode AcademyConsequat <br/>Miami, FL</a>
          </li>
          <li>
            <a href="#!" class="footer-hd-color">info@SoftSearch.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</div>


</footer>
<!-- Footer -->

<%= stylesheet_link_tag 'home' %>
