
<!-- Header -->
<header className="top-banner-homepage">
    <h1 class="title-homepage">Get Hired. Start Coding</h1> 
    <%= form_with(url: "#", method: "get") do %>
    <%= label_tag(:q, "") %> 
    <%= text_field_tag(:q, "Set a Location") %> 
    <%= submit_tag("SEARCH JOBS") %>
    <% end %>
</header>

<!-- Skills Cards -->
<section className="companyinfo-homepage">
    <h2 class="subtitles-homepage">Explore By Skill</h2> 
    <p class="test">Red</p>
    <h3 class="subsheading-subtitles-homepage">Narrow the search down by what you are good at.<br>Or learn what's in demand.</h3> 
</section>

<!-- Company Info -->
<section className="companyinfo-homepage">
    <h2 class="subtitles-homepage">Over 1000+ Jobs Posted</h2> 
    <h3 class="subsheading-subtitles-homepage">Insert one sentence blurb about how amazing our founders are wow</h3> 
    <p class="subsheading-subtitles-homepage">Insert paragraph about company Insert paragraph about company Insert paragraph about company</p> 
</section>

<!-- Testimonials -->
<section className="testimonials-homepage">
    <h2 class="subtitles-homepage">They believe in us. We believe in them.</h2> 
</section>
  
<!-- Footer -->
<%= react_component "Footer" %>

<%= stylesheet_link_tag 'home' %>  

