<h1> Welcome to SoftSearch </h1>

<%= form_with(url: "#", method: "get") do %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>
<% end %>

<%= react_component "Hello" %>