<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <div class='top-section'>
    <%= react_component "NavigationHome" %> 
    <%# render partial: '/layouts/nav'%>

<!-- Header -->
<header class="top-banner-homepage">
    <h1 class="title-homepage">Get Hired. Start Coding</h1> 
    <div class="search-bar">
    <%= form_with(url: "#", method: "get") do %>
    <%= label_tag(:q, "") %> 
    <%= text_field_tag(:q, "Set a Location") %> 
    <%= submit_tag("SEARCH JOBS") %>
    <% end %>
    </div>
</header>
</div>

  <body>

<!-- Skills Cards -->
<section class="companyinfo-homepage">
    <h2 class="subtitles-homepage">Explore By Skill</h2> 
    <h3 class="subsheading-subtitles-homepage">Narrow the search down by what you are good at.<br>Or learn what's in demand.</h3> 
      <div class="mid-buttons">
        <form action="">
          <button id="observe-button"><h1>Observe</h1>
               <p>See every classroom at your <br> leasure</p>
          </button>
          <button id="evaluate-button"><h1>Evaluate & develope</h1>
              <p>Find and grow those rock <br> star teachers</p>
          </button>
          <button id="collaborate-button"><h1>Collaborate</h1>
              <p>Sibme keeps teams, depart- <br> ments, and 
                 schools working <br> and growing together.</p>
          </button>
          <button id="academic-button"><h1>Academic gain</h1>
              <p>Better teachers = increased <br> student
                 achievement</p>
          </button>
        </form>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Javascript</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">More Info</a>
        </div>
        
</div>
</section>

<!-- Company Info -->
<section class="about-homepage">
    <h2 class="subtitles-homepage">Over 1000+ Jobs Posted</h2> 
    <h3 class="subsheading-subtitles-homepage">Insert one sentence blurb about how amazing our founders are wow</h3> 
    <p>Insert paragraph about company Insert paragraph about company Insert paragraph about company</p> 
</section>

<!-- Testimonials -->
<section class="testimonials-homepage">
    <h2 class="subtitles-homepage">They believe in us. We believe in them.</h2> 
</section>
  
<!-- Footer -->
<%= react_component "Footer" %>

<%= stylesheet_link_tag 'home' %>  

  </body>
</html>
